<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sey.mediaview">
    <application>
        <activity
            android:name=".MediaViewer"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode|navigation"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>